/* https://www.youtube.com/watch?v=6zMa4qK63hQ */
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@layer tw_base, radix_ui, tw_components_utils;
@import "@radix-ui/themes/styles.css" layer(radix_ui);

@layer tw_base {
  @tailwind base;
}
@layer tw_components_utils {
  @tailwind components;
  @tailwind utilities;
}
@layer tw_base {
  .aspect-video {
    aspect-ratio: 16 / 9;

    background-color: aliceblue;
  }

  :root {
    --color-done: #FFCC33;
    --color-yellow: #FFD240;
    --color-hold: #3366FF;
    --color-ongoing: #FF9D66;
    --color-track: #F2F4F7;
    --color-ordinary: #4F46E5;
    --color-blue: #1b54ff;
    --color-secondary: #4294FF;
    --color-primary:#111111;
    --color-foreground:#FCFCFC;
    --color-muted:#7B7B7B;
    --color-light-green:#49C96D;
    --color-light-blue:#5AC8F5;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
    --navbar-height: theme("width.14");
    --sidebar-width: theme("width.64");
    --sidebar-background: 226 70% 55%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 222 91% 63%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 7% 92%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-item-primary: 222 91% 63%;
    --sidebar-trigger-border: 0 0% 85%;
    --sidebar-trigger-background: 0 0% 100%;

    --sidebar-secondary-background: 0 0% 100%;
    --sidebar-secondary-header: 226 70% 55%;
    --sidebar-secondary-muted: 216 7% 57%;
    --sidebar-secondary-text: 218 8% 27%;
    --sidebar-secondary-active: 226 66% 55%;

    --file-card-background: 227 10% 21%;

    --dashboard-orange: 22 100% 68%;
  }

  .dark {
    --color-primary:#FCFCFC;
    --color-foreground:#111111;
    --color-muted:#838383;
    
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
    --navbar-height: theme("width.14");
    --sidebar-width: theme("width.64");

    --sidebar-background: 226 70% 55%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 222 91% 63%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 9% 22%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-item-primary: 222 91% 63%;
    --sidebar-trigger-border: 0 0% 85%;
    --sidebar-trigger-background: 0 0% 100%;

    --sidebar-secondary-background: 218 10% 15%;
    --sidebar-secondary-header: 0 0% 100%;
    --sidebar-secondary-muted: 216 7% 57%;
    --sidebar-secondary-text: 228 7% 73%;
    --sidebar-secondary-active: 0 0% 93%;

    --file-card-background: 0 0% 93%;

    --dashboard-orange: 23 100% 68%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

@layer tw_base {
  * {
    border-color: var(--border);
  }
  body {
    @apply bg-background text-foreground;
  }
}
