.weather-container {
  min-width: 12rem;
  width: fit-content;
  border-radius: 1.3rem;
  background: linear-gradient(180deg, #074a8e 0%, #5596d8 100%);
  padding: 1rem;
  color: var(--gray-1);
}

.dark .weather-container {
  background: linear-gradient(180deg, #020518 0%, #283555 100%);
  color: var(--gray-12);
}

.location-icon {
  rotate: -45deg;
}

.transparent {
  opacity: 0.7;
}

.capitalize {
  text-transform: capitalize;
}
